<%- include('includes/head', { pageTitle: pageTitle, stylesheet: '/404.css' }) %>

<body>
    <%- include('includes/navigation') %>

    <main class="error-page__main">
        <h1 class="error-page__title">404</h1>
        <p class="error-page__text">Page not found!</p>
        <a href="/" class="error-page__link">Go back to Shop</a>
    </main>

    <%- include('includes/end') %>
</body>
