<%- include('../includes/head', { pageTitle: 'Your Cart', stylesheet: '/product.css' }) %>
</head>
<body>
  <%- include('../includes/navigation', { path: '/orders' }) %>

  <main class="main">
    <h1>Nothing there</h1>
    <p>This is the cart page.</p>
  </main>

  <%- include('../includes/end') %>
</body>
</html>
